body{
    background: paleturquoise;
}
@media(min-width:500px){
    img{
        width: 100%;
    }
    .p{
        font-size:40px ;
    }
    body{
        background-color: royalblue;
    }
    a{
        color: brown;
        
    }
}